@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.avatar-container {
  @apply overflow-hidden rounded-full;
  max-width: 40px;
  max-height: 40px;
}

.react-chatbot-kit-chat-container {
  width: 85vw !important;
  height: 75vh !important;
}

.react-chatbot-kit-chat-bot-message {
  @apply ml-3.5 w-auto !important;
  max-width: 75% !important;
}

.react-chatbot-kit-chat-inner-container {
  @apply h-full !important;
}

.react-chatbot-kit-chat-message-container {
  @apply absolute w-full py-0 h-auto !important;
  top: 45px !important;
  bottom: 45px !important;
}